<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Submit Task - DuoBk</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link href="/css/jquery.highlight-within-textarea.css" type="text/css" rel="stylesheet" />
    <link href="/css/admin-task.css" type="text/css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/csrf.js"></script>
    <script type="text/javascript" src="/js/submit-task.js"></script>
    <script type="text/javascript" src="/js/userdata.js"></script>
    <script type="text/javascript" src="/js/jquery.highlight-within-textarea.js"></script>
</head>
<body>

<div class="container-fluid" id="formcontainer">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li>
                    <a class="nav-item nav-link" href="/tasks">Tasks</a>
                </li>
                <li>
                    <a class="nav-item nav-link" href="#">Rules</a>
                </li>
                <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuAdmin" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Admin
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" id="adminBooks" href="/admin/books">Books</a>
                        <a class="dropdown-item" id="adminTasks" href="/admin/tasks">Tasks</a>
                        <a class="dropdown-item" id="createBook" href="/admin/createBook">Create Book</a>
                        <a class="dropdown-item" id="createTask" href="/admin/createTask">Create Task</a>
                    </div>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuUser" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown link
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" id="logout" href="#">Exit</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
            <textarea id="result" name="name"></textarea>
        <div class="row">
            <div class="col-sm-2">
                <button class="btn btn-primary" id="submitTask">Submit</button>
                <button class="btn btn-success" id="refreshHighlight">Refresh</button>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>